# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [2]:
import numpy as np
import pandas as pd

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [16]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
df["Age"] = df["Age"].astype(np.int8)
df

    Name  Age         City
0   John   16     New York
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [17]:
df["Age"]

0    16
1    28
2    22
Name: Age, dtype: int8

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [27]:
df["Salary"] = np.array([50000, 60000, 45000], dtype="uint16")
df

    Name  Age         City  Salary
0   John   16     New York   50000
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [28]:
df[df["Age"] > 18]

    Name  Age         City  Salary
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [54]:
year_today = np.int16(2024)
df["Birth year"] = year_today - np.int16(df["Age"])
df["Birth year"]

0    2008
1    1996
2    2002
Name: Birth year, dtype: int16

### Task 4.2

Add new calculated field `Average age`.

In [60]:
df["Average age"] = np.uint8(df["Age"].mean())
df["Average age"]

0    22
1    22
2    22
Name: Average age, dtype: uint8

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [59]:
np.uint8((df["Age"] - df["Average age"]).abs())

array([6, 6, 0], dtype=uint8)

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [62]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [72]:
df_merge = pd.merge(df1, df2, on="Name")
df_merge

    Name  Age         City
0  Emily   28  Los Angeles
1   Ryan   22      Chicago

In [68]:
df_concat = pd.concat([df1, df2])
df_concat

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
0  Emily   NaN  Los Angeles
1   Ryan   NaN      Chicago
2   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [4]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [5]:
s1 + s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [17]:
df = pd.DataFrame({
    "s1 - s2": s1 - s2,
    "s2 - s1": s2 - s1
})
df

   s1 - s2  s2 - s1
0       -5        5
1       -5        5
2       -5        5
3       -5        5
4       -5        5

In [7]:
s1 * s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [16]:
df = pd.DataFrame({
    "s1 / s2": s1 / s2,
    "s2 / s1": s2 / s1
})
df

    s1 / s2   s2 / s1
0  0.166667  6.000000
1  0.285714  3.500000
2  0.375000  2.666667
3  0.444444  2.250000
4  0.500000  2.000000

In [15]:
df = pd.DataFrame({
    "s1 ** s2": s1 ** s2,
    "s2 ** s1": s2 ** s1
})
df

   s1 ** s2  s2 ** s1
0         1         6
1       128        49
2      6561       512
3    262144      6561
4   9765625    100000

In [13]:
df = pd.DataFrame({
    "s1 // s2": s1 // s2,
    "s2 // s1": s2 // s1
})
df

   s1 // s2  s2 // s1
0         0         6
1         0         3
2         0         2
3         0         2
4         0         2

In [20]:
df = pd.DataFrame({
    "s1 % s2": s1 % s2,
    "s2 % s1": s2 % s1
})
df

   s1 % s2  s2 % s1
0        1        0
1        2        1
2        3        2
3        4        1
4        5        0

In [32]:
s1[s1 % 2 == 0]

1    2
3    4
dtype: int64

In [30]:
s2[s2 % 2 != 0]

1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [54]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [60]:
s.map(str.upper)

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [59]:
s.apply(lambda x: len(x))

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [40]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: total: 5.72 s
Wall time: 5.78 s

[51.8, 70.8, 67.0, 55.2, 57.8, 68.0, 50.0, 54.6, 46.8, 42.2]

### Solution using Pandas and Numpy

In [41]:
data = pd.Series(np.random.randint(1, 100, size=10_000_000))
%time data.rolling(window=5).mean().dropna()

CPU times: total: 250 ms
Wall time: 251 ms

4          66.8
5          66.0
6          69.8
7          58.4
8          45.4
           ...
9999995    33.8
9999996    38.4
9999997    45.4
9999998    43.8
9999999    32.4
Length: 9999996, dtype: float64